.Logo {
    background-color: white;
    padding: 8px;
    height: 100%; /* Fit needs of Logo height in components that use them instead of media queries here*/
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    height: 100%;
}